@import "./variables";

/* Main */
html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
}

/* Links */
a {
  text-decoration: underline;
  color: $text;
  font-weight: bold;

  &:hover,
  &:active {
    text-decoration: none;
  }
}
